.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar > * {
  text-align: center;
  padding: 0.1rem 1rem;
}

.main {
  flex-grow: 1;
}

.footer > p {
  text-align: center;
  padding: 1rem 1rem;
}
