* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --color-primary: #6a8eae;
  --color-secondary: #2a282a;
  --color-bacround: #d1faff;
  --color-cards: #f7f9f7;
}
body {
  background: var(--color-bacround);
}
/* ---------------
* Color's and styling
-------------- */
.bg-primary,
.bg-secondary {
  background-color: var(--color-primary);
}
.text-primary,
.text-secondary {
  color: var(--color-primary);
}
.card {
  background-color: var(--color-cards);
}
/* ------------
* Flex/Alinment
------------ */
header,
main,
footer {
  display: flex;
}
header {
  justify-content: center;
}
footer {
  align-items: center;
  justify-content: space-evenly;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
