* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --color-primary: #6a8eae;
  --color-secondary: #2a282a;
  --color-bacround: #d1faff;
  --color-cards: #f7f9f7;
  --color-like-btn: #007bff;
}
body {
  background: var(--color-bacround);
}
/* ---------------
* Color's and styling
-------------- */
.bg-primary,
.bg-secondary {
  background-color: var(--color-primary);
}
.text-primary,
.text-secondary {
  color: var(--color-secondary);
}
.card {
  background-color: var(--color-cards);
}
#brandName {
  font-size: 30px;
  font-weight: bold;
}
.like-btn {
  background-color: var(--color-like-btn);
  color: var(--color-cards);
}

/* ------------
* Flex/Alinment
------------ */
header,
main,
footer,
.app,
.like-comtainer {
  display: flex;
}
.app {
  flex-direction: column;
}
header,
footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
header {
  justify-content: center;
}
footer {
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin: auto;
}
.like-comtainer {
  width: 100%;
  justify-content: start;
  align-items: start;
}
.like-btn {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
}
.like-btn:hover {
  background-color: var(--color-primary);
}
